.about-container {
  min-height: 100vh;
overflow: hidden;
  display: flex;
  flex-direction: column;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
    padding: 3rem;
      margin-top: 50px;
}

.about-content img {
  width: 100%;
  border-radius: 1rem;
}

.about-content p {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.button-about {
  margin-top: auto;
  bottom: 0;
  position: relative;
}
.about-container .left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about-content p {
    font-size: 1.7rem;
    line-height: 1.8;
    margin-top: 2rem;
  }
  .action-button {
    padding: 1rem 1.5rem;
    gap: 12px;
    font-size: 1.2rem;
    width: fit-content !important;
    border-radius: 2rem;
  }
  .button-about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {

  .about-container .left {
    width: 60%;
  }
  .about-content {
    flex-direction: row-reverse;
    gap: 3rem;
        padding: 2rem 5rem;
        margin-top: 40px;
  }

  .about-content img {
    width: 40%;
    object-fit: cover;
  }

  .about-content p {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  .about-content p:first-child {
    font-size: 1.5rem;
    line-height: 1.8;
    margin: 0;
  }

  .button-about {
    align-self: flex-start;
  }
}
