.about-container {
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.about-content img {
  width: 100%;
  border-radius: 1rem;
}

.about-content p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.button-about {
  margin-top: auto;
}
