.grid_intro{
    display: grid;
  
    gap: 1rem;
    width: 100%;
    justify-content: center;
    grid-template-columns: calc(50% - 2rem) calc(50% - 2rem) ;
    padding-top: 230px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 100px;
  

}
.first-intro{
    display: flex;
    flex-direction: column;

     align-items: center;
     min-height: 100vh;

}
.card-intro{
   
height: auto;
max-height: 100px;
border-radius: 10px;
border-width: 1px;
border: 1px solid #E4E4E4;
display: flex;
align-items: center;
gap: 1rem;
flex-direction: column;
padding: 1rem;
transition: 0.2s ease-in;
}
.card-intro img{
width: 100%;
height: 70%;
object-fit: contain;
}
.card-intro h2{

font-weight: 500;
font-style: Medium;
font-size: 0.7rem;
color: black;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}


@media screen and (min-width: 768px) {
    .card-intro{
        max-height: 150px;
    }
    .card-intro h2{


font-size: 1.2rem;


}
  

}
@media screen and (min-width: 1024px) {
    .card-intro{
        max-height: 200px;
    }

  

}


@media screen and (min-width: 1280px) {

    .grid_intro{
    display: grid;
  
    gap: 1rem;
    width: 100%;
    justify-content: center;
    grid-template-columns: calc(25% - 3rem) calc(25% - 3rem) calc(25% - 3rem) calc(25% - 3rem);
  

}
.card-intro:hover {

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

}
}
.grid_intro {
    display: grid;
    gap: 1rem;
    width: 100%;
    /* Utilise repeat(2, 1fr) pour être propre sur mobile */
    grid-template-columns: repeat(2, 1fr); 
    /* Réduis le padding-top qui est énorme (230px) sur mobile */

    box-sizing: border-box;
}

.card-intro {
    /* Retire le max-height fixe qui cause le bug de texte qui dépasse */
    height: auto; 
    min-height: 120px; /* Utilise un min-height à la place */
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
    background: white;
}

.card-intro img {
    width: 100%;
    height: 50px; /* Hauteur fixe pour l'image pour que le texte soit aligné */
    object-fit: contain;
}

.card-intro h2 {
    font-weight: 500;
    font-size: 0.8rem; /* Un peu plus grand pour la lisibilité */
    color: black;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

/* --- RESPONSIVE TABLETTE --- */
@media screen and (min-width: 768px) {
    .grid_intro {
        grid-template-columns: repeat(3, 1fr);
          padding-left: 5rem;
  padding-right: 5rem; /* 3 colonnes sur tablette */
  margin-top: 0px;
    }
    .card-intro {
        min-height: 160px;
    }
    .card-intro h2 {
        font-size: 1rem;
    }
    
}

/* --- RESPONSIVE DESKTOP --- */
@media screen and (min-width: 1280px) {
    .grid_intro {
        grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur PC */
        gap: 2rem;
          padding-left: 8rem;
  padding-right: 8rem;
  
       
    }
}