.grid_intro{
    display: grid;
  
    gap: 1rem;
    width: 100%;
    justify-content: center;
    grid-template-columns: calc(50% - 2rem) calc(50% - 2rem) ;
    padding-top: 300px;
  

}
.first-intro{
    display: flex;
    flex-direction: column;

     align-items: center;
     height: auto;

}
.card-intro{
   
height: auto;
max-height: 100px;
border-radius: 10px;
border-width: 1px;
border: 1px solid #E4E4E4;
display: flex;
align-items: center;
gap: 1rem;
flex-direction: column;
padding: 1rem;
transition: 0.2s ease-in;
}
.card-intro img{
width: 100%;
height: 70%;
object-fit: contain;
}
.card-intro h2{

font-weight: 500;
font-style: Medium;
font-size: 0.7rem;
color: black;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}


@media screen and (min-width: 768px) {
    .card-intro{
        max-height: 150px;
    }
    .card-intro h2{


font-size: 1.2rem;


}
  

}
@media screen and (min-width: 1024px) {
    .card-intro{
        max-height: 200px;
    }

  

}


@media screen and (min-width: 1280px) {

    .grid_intro{
    display: grid;
  
    gap: 1rem;
    width: 100%;
    justify-content: center;
    grid-template-columns: calc(25% - 3rem) calc(25% - 3rem) calc(25% - 3rem) calc(25% - 3rem);
  

}
.card-intro:hover {

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

}
}