.why-container h2 {
  color: black;
}
.why-container p {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
}
.why-container{
  padding: 3rem;
  position: relative;
  background-color: white;
  height: 100dvh;
  padding-top: 5rem;
}
@media screen and (min-width: 768px) {
  .why-container h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
  }
  .why-container p {
    font-size: 2rem;
    line-height: normal;
    margin-top: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .why-container {
    width: 100%;
    padding: 2rem 5rem;
    margin: 0;
  }

  .why-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .why-container p {
    font-size: 2.5rem;
    line-height: 2;
    margin-top: 1.5rem;
  }
  
}
