.action-button {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid rgba(228, 228, 228, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  border-radius: 2rem;
  font-weight: 550;
  cursor: pointer;
    transition: 0.4s ease-in-out;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;

line-height: 100%;
letter-spacing: 0%;


}
.action-button .dot {
  height: 8px;
  width: 8px;
  background-color: rgba(255, 204, 0, 1);
  border-radius: 50%;
  margin: 0;
      transition: 0.4s ease-in-out;
 
}
.action-button:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content-container .action-button:hover{
background-color: rgba(255, 204, 0, 1);
border: 1px solid rgba(255, 204, 0, 1);
}
.content-container .action-button:hover .dot {
  height: 8px;
  width: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0;
 
}

