.action-button {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: 1px solid rgba(228, 228, 228, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  gap: 10px;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.action-button .dot {
  height: 8px;
  width: 8px;
  background-color: rgba(255, 204, 0, 1);
  border-radius: 50%;
  margin: 0;
}
