.testCard-container {
  border-radius: 24px;
  border: 1px solid rgba(228, 228, 228, 1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  transition: 0.5s ease-in-out;
}
.testCard-container img {
  height: 23vh;

  border-radius: 12px;
  object-fit: cover;
  width: 100%;
}
.testCard-container h1 {
  color: black;
  font-size: 1.1rem;
}
.testCard-container p {
  color: rgba(87, 87, 87, 1);

    font-size: 0.8rem;
    margin-bottom: 1rem;
    
}
.start-test-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  transition: 0.5s;
  
}
.start-test-btn:hover {
  background-color: var(--white-color );
  color: var(--primary-color);
  font-weight: 600;


}
.testCard-container:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
