.content-container img {
  width: 100%;
  border-radius: 16px;
  min-height: 300px;
  object-fit: cover;
}
.content-container h4 {
  color: black;
  margin-top: 2.5rem;
  font-size: 1.5rem;
}
.content-container p {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1rem;
}
.content-container .know-more {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
}
.content-container {
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.button-container button {
  border-radius: 16px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.big-size {
  display: none;
}
@media screen and (min-width: 768px) {
  .content-container {
    padding: 0;
  }
  .big-size {
    display: flex;
    flex-direction: column;
  }
  .big-size .left {
    background: linear-gradient(180deg, #00314d 0%, #001a28 100%);
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 3rem 5rem;
  }
  .mobile {
    display: none;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
  }
  .button-container button {
    border-radius: 32px;
  }
  .content-container .left h4 {
    color: white;
    font-size: 1rem;
  }
  .content-container .left p {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content-container .right {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    height: 50vh;
    gap: 10px;
  }
  .content-container .right h4 {
    font-size: 1rem;
  }
  .content-container .right p {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content-container .right img {
    height: 250px;
    min-height: 250px;
  }
  .content-container .know-more {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem !important;
    font-weight: 500;
    background: linear-gradient(90deg, #00314d 0%, #001a28 100%);
    color: var(--white-color);
    border-radius: 32px;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
}
@media screen and (min-width: 1280px) {
  .big-size {
    display: flex;
    flex-direction: row;
  }
  .content-container .left,
  .content-container .right {
    height: 100vh !important;
    width: 50%;
  }
  .content-container .right img {
    height: 300px;
    min-height: 300px;
  }
}
