.splitContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1.2s ease;
  position: relative;
}

.side:hover {
  flex: 1.08;
}

.content {
  text-align: center;
  padding: 2rem;
  max-width: 90%;
}

.title {
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 600;
  margin: 0 0 0rem 0;
}

.subtitle {
  font-weight: 500;
  margin-top: 1rem;
  opacity: 0.9;
}
.title,
.subtitle {
  scale: 1.2;
}
.and {
  font-weight: 400;
  opacity: 0.85;
}
.home_logo{
  position: absolute;
  bottom: 30px;
  left: 40px;
  height: min-content;
  z-index: 1;
}
.home_logo .logo{

  font-size: 1.2rem;
  font-weight: 600;
  color: #00296f;
  cursor: pointer;

}


.logo span {
  color: #ffcc00;
}
/* Mobile / Tablet - stack vertically */
@media (max-width: 1023px) {
  .home_logo{
  position: absolute;
  top: 20px;
  bottom: auto;
  left: 20px;
  height: min-content;
  z-index: 1;
}
  .splitContainer {
    flex-direction: column;
  }

  .side {
    height: 50vh;
  }

  .side:hover {
    flex: 1;
  }

  .title {
    font-size: clamp(2.8rem, 10vw, 5rem);
  }

  .subtitle {
    font-size: clamp(1.4rem, 5vw, 2.2rem);
  }
  .title,
  .subtitle {
    scale: 1.1;
  }
}

/* Text colors */
.side:first-child .title,
.side:first-child .subtitle {
  color: #00314d;
}

.side:last-child .title,
.side:last-child .subtitle {
  color: white;
}

.quote {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1.6rem, 3.5vw, 2.8rem);
  font-weight: 500;
  text-align: center;
  max-width: 90%;

  opacity: 0;
  filter: blur(12px);
}

.individualsQuote {
  color: #ffff;
}

.corporateQuote {
  color: #00314d;
}
