nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: transparent;
  z-index: 3;
  padding: 1.5rem 3rem;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  height: calc(100dvh);
  align-items: flex-start;
  clip-path: inset(0 0 0 100%);
  transition: 0.3s ease-in-out;
  text-align: center;
  padding-bottom: 4rem;
  padding: 3rem;

z-index: 2;
  box-sizing: border-box;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  color: #000000;
  width: 100%;
}
nav ul li:hover {
  color: var(--primary-color);
}

nav ul >a:first-of-type {
  margin-top: 4rem;
}

.nav-infos {
  display: none;
}

nav .menu {
  cursor: pointer;
}

.contact-btn {
  display: inline-block;
  color: var(--white-color);
  background-color: rgba(0, 49, 77, 1);
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: 550;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.open {
  clip-path: inset(0 0 0 0);
}
.nav-infos2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  margin-top: auto;
}
.nav-infos2 .languages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  font-weight: 450;
  color: #000000;
}
.logo{
  position: relative;
  z-index: 2;
}
.nav-infos .languages span {
  cursor: pointer;
  z-index: 2;
}
.CLOSE{
  cursor: pointer;
}
.langMob{
  display: flex;
  align-items: center;
  gap: 10px;
}
.langMob span{
  cursor: pointer;
  color: #000000;
}
.selected-language {
  text-decoration: underline;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.selected-language {
  text-decoration: underline;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .logo{
  position: relative;
  z-index: 10;
}
  .langMob{
  display: none;
}
  nav{
    background-color: transparent;
  }
  nav ul a:first-of-type {
    margin-top: 0rem;
  }

  .nav-infos2 {
    display: none;
  }

  nav .menu {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    clip-path: inset(0 0 0 0%);

    align-items: auto;
    flex-direction: row;

    font-size: auto;

    top: auto;
    width: 100%;
    background-color: transparent;
    height: auto;
    justify-content: center;
    clip-path: inset(0 0 0 0);
  }

  nav ul li {
    list-style: none;
    cursor: pointer;
    font-weight: 450;
    font-size: 1rem;
    color: #000000;
  }

  .nav-infos {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .nav-infos .languages {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-weight: 450;
    color: #000000;
  }

  .top-nav {
    display: none;
  }
}
