.Disclaimer-container {
 
   background: linear-gradient(180deg, #00314d 0%, #002438 100%); /* Fond sombre */
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  overflow: hidden;
}

.Disclaimer-sidebar {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  opacity: 0.5;
}

.Disclaimer-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 15%;
}

.disc-paragraph {
  position: absolute; /* Les phrases s'affichent au même endroit */
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
  max-width: 800px;
  
  /* État initial : caché et flou */
  opacity: 0;
  filter: blur(20px);
  transform: translateY(20px);
}
@media (max-width: 768px){
.disc-paragraph {
  position: absolute; /* Les phrases s'affichent au même endroit */
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4;
  max-width: 400px;
  
  /* État initial : caché et flou */
  opacity: 0;
  filter: blur(20px);
  transform: translateY(20px);
}
}