@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

:root {
  --primary-bg: linear-gradient(180deg, #0a1933 0%, #00296f 100%);
  --primary-color: rgba(0, 49, 77, 1);
  --white-color: #ffffff;
}
html,
body,
#root {
  height: 100%;
}
body:has(.open) {
  overflow: hidden;
}
body {
  font-family:
    "Rethink Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}
button{
  font-family: "Rethink Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif; 
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
