@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: linear-gradient(180deg, #0a1933 0%, #00296f 100%);
  --primary-color: rgba(0, 41, 111, 1);
  --white-color: #ffffff;
}
html,
body,
#root {
  height: 100%;
}
body {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-color);
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
