.last-container {
  padding: 1rem;
  padding-top: 5rem;
  background-color: var(--white-color);
}


.last-container .texts {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-container .texts h1 {
  color: black;
  font-size: 6vw;
  font-weight: 700;

  
}

.last-container .texts p {
  color: rgba(126, 126, 126, 1);
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
   
}


.last-container .cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


@media (min-width: 1024px) {
  .last-container {
    padding: 7rem 3rem;
  }

  .last-container .texts h1 {
    font-size: 2.5rem;
  }

  .last-container .texts p {
    font-size: 1.3rem;
    line-height: 1.8;
     max-width: 50%;
  }

  .last-container .cards {
    flex-direction: row;  
    justify-content: center;
    gap: 2rem;
  }

  .last-container .cards > * {
    flex: 1;              
    max-width: 500px;     
  }
}
