.NotFound {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
