.modus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 2rem;
}

.modus-container h1 {
  text-align: center;
}

.modus-steps {
  position: relative;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.modus-step {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modus-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.modus-step-circle {
  border-radius: 15%;
  padding: 0.5rem;
  background-color: var(--primary-color);
  z-index: 2;
  color: var(--white-color);
  font-weight: bold;
}

.modus-step-line {
  width: 3px;
  height: 150px;
  border-radius: 5px;
  background-color: var(--primary-color);
  margin-top: 1rem;
}

.modus-texts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 350px;
}

.modus-texts.right {
  left: 60%;
  text-align: left;
}

/* Left texts stay left of center and left-aligned */
.modus-texts.left {
  right: 60%;
  text-align: left; /* change from right to left */
}
